{{extend 'layout.html'}}

    <h1>Group Calendar</h1>

    <!-- Lists days over grid-->

  <link rel="stylesheet" href="{{=URL('static','css/calendar.css')}}">
    <table class="header">
      <tr>
        <td></td>
        <td>Sunday</td>
        <td>Monday</td>
        <td>Tuesday</td>
        <td>Wednesday</td>
        <td>Thursday</td>
        <td>Friday</td>
        <td>Saturday</td>
      </tr>
    </table>  

    <canvas id="myCanvas" width="800" height="400">
    Your browser does not support the HTML5 canvas tag.
    </canvas>

    <form action="http://127.0.0.1:8000/Quickmeet/default">       
        <input type="submit" value="Return" />
            <form action="http://google.com">
                <input type="submit" value="Generate Available Times" />
                    <form action="http://google.com">       
                         <input type="submit" value="Settings" />
            </form>
        </form>
    </form>


    <script src = "{{=URL('static','js/CalendarGenerator.js')}}">
    </script>
    <script src ="{{=URL('static','js/BoxGenerator.js')}}">
    </script>
    <script src ="{{=URL('static','js/GroupCalendar.js')}}">
    </script>
  
    

    

<form>
GroupMember:<br>
<input type="text" name="member" value="">

<input type="submit" value="Add" onClick="addMember()">
</form>
