/*
    calendar.css
    The css file for our webpage.
    
    Version 0.1 - 1/30/2017 - Removed the default margin and padding from the browser.
*/

* {
   margin: 5;
   padding: 0;
   background-color: #f4fdff;
}

canvas {
  background-color: #f4fdff;
 }

/* for implementing grid of clickable boxes over the canvas */
.grid { margin:auto auto auto 7em; border-collapse:collapse }
.grid td {
    cursor:pointer;
    width:100px; height:27px;
    border:1px solid #ccc;
    /*text-align:center;*/
    font-family:sans-serif; font-size:13px
}
.grid td.clicked {
    background-color:yellow;
    font-weight:bold; color:red;
}
