/*
    calendar.css
    The css file for our webpage.
    
    Version 0.1 - 1/30/2017 - Removed the default margin and padding from the browser.
*/

:root{
    --background: #f4fdff;
}

* {
   margin: 5;
   padding: 0;
   background-color: var(--background);
}

canvas {
  background-color: var(--background);
 }
